body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-blend-mode: multiply,multiply;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  padding: 3rem;
  font-family: '', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: #000000;
}

.input-section {
  margin-bottom: 20px;
  width: 37cm;
}

.input-section input{
  width:auto;
}
.label-section {
  text-decoration: wavy;
  font-size: 0.5cm;
  color: rgb(0, 0, 0);
}

.div-section {
  width: 25rem;
}

.preview {
  width: 15cm;
  height: 10cm;
}

.video-preview {
  width: 15cm;
  height: auto;
}

.input-section label {
  display: block;
  margin-bottom: 5px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
  
  padding: 5px;
}

.data-container {
  max-height: 300px;
  /* Adjust the height as needed */
}

.card {
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* margin-bottom: 20px; */
  /*ackground-image: linear-gradient(to top, #e8a2a2 10%, #ec7215 80%);*/
  background-size: cover;
  background-position: center;
  margin: auto;
  
}
.add-content{
  position: absolute;
  top: 2rem;
  right: 0rem;
  margin: 2rem;
}
.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
}

.card-title {
  margin: 0;
 
}

.card-body {
  display: flex;
  margin: 0 3rem;
  
}

.card-body p {
  flex: 1;
}
